# Xcode
.DS_Store
build/*
Build/*
*.swp
*~.nib
*.pbxuser
!default.pbxuser
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserdata
profile
*.moved-aside
DerivedData
.idea/
MainHotIdeasKeeper.xcodeproj/project.xcworkspace/xcuserdata/ios-edik.xcuserdatad/UserInterfaceState.xcuserstate
